.horizontal-divider {
    width: 100%;
    height: 2px;
}

@each $color, $value in $theme-colors {
    .horizontal-divider-#{$color} {
        background-color: $value;
    }
}

.horizontal-divider-reference {
    width: 100%;
    height: 1px;
}

.horizontal-divider-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-divider-call-to-action {
    width: 32px;
    height: 5px;
}

.horizontal-divider-special {
    position: relative;
    width: 100%;
    height: 2px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 32px;
        height: 4px;
        background: $colorMain;
        border-radius: 2px;
    }
}

.horizontal-divider-special-center {
    position: relative;
    width: 100%;
    height: 2px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 4px;
        background: $colorMain;
        border-radius: 2px;
    }
}