@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .no-container#{$infix} {
            max-width: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
